:root {
  --red:     #EB212E;
  --green:   #2FF924;
  --blue:    #2E67F8;
  --purple:  #800080;
  --white:   #fff;
  --gs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--green),
             0   0   0.8rem   var(--green),
             0   0   2.8rem   var(--green);
  --rs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--red),
             0   0   0.8rem   var(--red),
             0   0   2.8rem   var(--red);
  --bs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--blue),
             0   0   0.8rem   var(--blue),
             0   0   2.8rem   var(--blue);
  --ws:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--white),
             0   0   0.8rem   var(--white),
             0   0   2.8rem   var(--white);
  --ps:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--purple),
             0   0   0.8rem   var(--purple),
             0   0   2.8rem   var(--purple);
}


::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color:   rgba(0,0,0,0.5);
  border-radius: 10px;
}
h1 { 
	text-align: center;	
	color: var(--white);
	text-shadow: var(--gs);
}

body {
	background-color: #282828;
	color: var(--white);
	text-shadow: var(--gs);
}

div {
  color: var(--white);
  text-shadow: var(--gs);
}

button {
  background-color: rgba( 0,0,0,0 );
  border-radius: 10px;
  border: 0px;
  box-shadow: 5px 5px rgba( 0, 0, 0, 0.5 );
  color: var(--white);
  font-size: 28px;
  height: 75px;
  text-shadow: var(--gs)
}

button:hover { text-shadow: var(--rs); }

input {
  color: var(--white);
  background-color: rgba(136, 192, 208, 1);
  border-radius: 10px;
  border: 0px;
  border-color: rgba( 0,0,0,0 );
  background-color: rgba( 0,0,0,0 );
  box-shadow: 5px 5px rgba( 0, 0, 0, 0.5 );
}

.letter { }

.overlay {
  position:           fixed;
  display:            none;
  width:              100%;
  height:             100%;
  top:                0;
  left:               0;
  right:              0;
  bottom:             0;
  background-color:   rgba(0,0,0,0.5);
  z-index:            2;
  cursor:             pointer;
  transition-property: background-color;
  transition-duration: 3s;
}

.alpha {
  color: #fff;
  text-shadow: var(--gs)
}

.imageError {
     display:   none;
     width:     533px;
     height:    800px;
}

.players {
  text-align: center;
  width: 100%;
  padding: 20px;
}

#lobby       { }
#inviteDiv   { }
#rejected    { }
#win         { }
#lixo        { }

#turnTitle { 
  position: relative;
  font-size: 72px; 
  text-align: center;
  top: 15%;
}
#title { 
  position: relative;
  font-size: 72px; 
  text-align: center;
  top: 15%;
}
#usernameDiv { display: block;  }

#enter	     { 
  position: relative;
  left: 40%;
  text-align: center; 
}

#turn {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  font-size: 72px;
}

#ragequit {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  font-size: 72px;
  text-shadow: var(--rs);
}

#image {
   position: absolute;
   clip:rect(0px,20px,0px,0px);	
}

#nplay {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#play {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#darth {
  position: relative;
  transform: scale(0.9);
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  top: 15%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}

#yoda {
  position: relative;
  top: 25%;
  left: 40%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}


#ree {
  position: absolute;
  display: none;
  background-color: rgba( 0,0,0,0 );
  width:  99%;
  height: 20%;
  box-shadow: none;
}

#notturn {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  font-size: 72px;
}

#game {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#word {
  display: flex;
  justify-content: center;
  text-shadow: var(--gs);
  font-size: 50px;
}

#eText { display: none; text-shadow: var(--gs); }

#image {
  position: relative;
  top: 25%;
  left: 40%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}

#wimage {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  top: 25%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}

#winTitle {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  top: 15%;
  font-size: 72px;
  text-shadow: var(--rs);
  text-align: center;
}

#lossTitle {
  position: relative;
  top: 15%;
  left: 25%;
  font-size: 72px;
  text-shadow: var(--rs);
}

#goLobby {
  position: absolute;
  top: 55%;
  left: 65%;
  text-shadow: var(--bs);
}

#wingoBack {
  position: relative;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  text-shadow: var(--bs);
}


#rematch {
  position: absolute;
  top: 55%;
  left: 25%;
  vertical-align: middle;
  text-shadow: var(--ps);
}

#rText {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#welp2 {
  position: relative;
  top: 15%;
  left: 37.5%;
}

#welp {
  position: relative;
  top: 55%;
  left: 40%;
}

#updateUsers {
  position: relative;
  left: 45%;
  justify-contents: center;
  font-size: 28px;
  height: 75px;
  width: 10%;
}

#text {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#uname {
  position: relative;
  display: flex;
  float: left;
  justify-contents: center;
  font-size: 28px;
  top: 55%;
  left: 40%;
  height: 75px;
  content-align: center;
  text-shadow: var(--gs);
}

#send {
  position: relative;
  font-size: 28px;
  top: 55%;
  left: 40%;
  height: 75px;
}


#playersDiv {
  display: grid;
  grid-template-columns: auto auto auto;
	border: 1px solid var(--white);
	-webkit-box-shadow: 0px 0px 10px var(--green);
	border-radius: 10px;
	width: 80%;
	height: 500px;
	top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/*#playersDiv {
	border: 1px solid var(--white);
	-webkit-box-shadow: 0px 0px 10px var(--green);
	border-radius: 10px;
	heigth: 50%;
	top: 10%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}*/

#connected {
	text-align: center;
}

#accept {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 10%;
  font-size: 28px;
  height: 75px;
}

#cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  font-size: 28px;
  height: 75px;
}

#quit {
  display: block;
  position: absolute;
  justify-content: center;
  top: 20%;
  left: 45%;
  width: 10%;
  vertical-align: middle;
}

#forca {
	position: absolute;
	left: 36%;
	transform: scale(0.5);
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
